@import url(https://fonts.googleapis.com/css?family=Lora);

/*FONTS*/
$LORA: 'Lora', serif;
$ALICE: 'Alice', serif;
$VERDANA: Verdana, sans-serif;

/*COLORS*/
$BLACK: #000000;
$WHITE: #FFFFFF;
$GRAY: #EEEEEE;
$PURPLE: #590085;
$YELLOW: #F7CF00;
$PINK: #FF008B;

/*GENERALS*/
body {
  font-family: $VERDANA;
  font-weight: normal;
  margin: 0;
}

html {
  background: url(images/abvpapp_bg01.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*HEADER & FOOTER*/
/*
#header {
    background-color: $PURPLE;
    color: $WHITE;
    text-align:center;
    padding:20px;

    img {
        float: left;
        z-index: 10;
        width: auto;
        height: 50px;
        padding-left: 20px;
    }

    h1 {
        display: inline;
        vertical-align: bottom;
        float: center;
    }
}
*/

#nav {
    line-height:30px;
    background-color: $GRAY;
    height:10%;
    width:100%;
    float:left;
    padding:5px;
    text-align: right;
}
.nav {
    display: inline-block;
    margin: 10px;
}
#footer {
    background-color: $BLACK;
    height: 50px;
    width:100%;
    color: $WHITE;
    clear:both;
    text-align:center;
    padding:5px;
    position: fixed;
    bottom: 0;

    a {
        text-decoration: none;
        color: $WHITE;

        &:hover {
            color: $YELLOW;
            text-decoration: underline;
        }
    }
}

/*LOGIN PAGE*/
#frontpage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    text-align:center;
}

/*PROFILE PAGE*/

//puts together the boarder
#profile-page {
    #top, #bottom, #left, #right {
        background: black;
        position: fixed;
    }
    #left, #right {
        top: 0; bottom: 0;
        width: 15px;
    }
    #left { left: 0; }
    #right { right: 0; }

    #top, #bottom {
        left: 0; right: 0;
        height: 15px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }
}


#header-profile {
    h1 {
        padding: 5px 0 5px 150px;
        font-size: 30pt;
    }
}

#volunteer-info {
    padding-bottom: 500px;
}

.profileBox {
    padding: 0 50px 0 50px;

    .profileInformation {
        width: 100%;
        float:left;
        padding: 0px 10px 0px 10px;
        margin: 25px;
        margin-top: 0px;

        .subInfo {
            padding-left: 30px;
            padding-bottom: 30px;
            width: 50%;

            .imported {
                display: inline-block;
                vertical-align: bottom;
                text-decoration: bold;
                color: $PURPLE;
            }
        }

        h1 {

        }

        .imageStack {
            float: right;
            padding-right: 50px;

            img {
                vertical-align: top;
                height: 200px;
                display: block;
            }

            button {
                padding: 10px 100px 10px 100px;
                background-color: $PURPLE;
                border: none;
                color: white;
                font-size: 20px;
                text-decoration:none;
                float: right;
                border-radius: 25px;

                &:hover {
                    color: black;
                    background-color: $PINK;
                }
            }
        }

        .secondColumn {
            width: 200 px;
        }

        h3 {
            display: inline;
            padding-bottom: 10px;
        }

        a {
            padding-bottom: 10px;
        }
    }
}

/*CHECKIN & CHECKOUT*/
.location {
    width: 45%;
    height: 400px;
    overflow: auto;
    display:inline-block;
}

.member{
    display:inline-block;
    width: 200px;
    height: 240px;
    overflow:hidden;
    transition: 1s;
    background-color: #a82020;
    color: #cdf9ff;
    transition: .75s;
    padding: 5px;
    font-family: $VERDANA;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px;

    &:hover{
        height: 240px;
    }
}

.checkedout {
    display:inline-block;
    width: 200px;
    height: 240px;
    overflow:hidden;
    transition: 1s;
    background-color: #a82020;
    color: #cdf9ff;
    transition: .5s;
    padding: 5px;
    font-family: $VERDANA;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px;

    &:hover {
        background-color: #0000FF;
    }
}

.selectionBox {
    width: 90%;
    height: auto;
    padding: 25px;
    border: 5px solid navy;
    margin: 25px;
    text-align: left;
}

.reserves {
    display:inline-block;
    width: 200px;
    height: 240px;
    transition: 1s;
    background-color: #a82020;
    color: #cdf9ff;
    transition: .5s;
    padding: 5px;
    font-family: $VERDANA;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 5px;

    &:hover {
        background-color: #0000FF;
    }
}