@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
/*FONTS*/
/*COLORS*/
/*GENERALS*/
body {
  font-family: Verdana, sans-serif;
  font-weight: normal;
  margin: 0; }

/*HEADER & FOOTER*/
.header h1 {
  padding-left: 100px; }

#menu {
  background: #590085;
  width: auto; }
  #menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
    zoom: 1; }
    #menu ul:after {
      content: " ";
      display: block;
      font-size: 0;
      height: 0;
      clear: both;
      visibility: hidden; }
    #menu ul li {
      display: inline-block;
      padding: 0;
      margin: 0; }
      #menu ul li a {
        color: #ffffff;
        text-decoration: none;
        display: block;
        padding: 15px 25px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
        -webkit-transition: color .25s;
        -moz-transition: color .25s;
        -ms-transition: color .25s;
        -o-transition: color .25s;
        transition: color .25s; }
        #menu ul li a:hover {
          color: #F7CF00; }
          #menu ul li a:hover:before {
            width: 100%; }
        #menu ul li a:after {
          content: "";
          display: block;
          position: absolute;
          right: -3px;
          top: 19px;
          height: 6px;
          width: 6px;
          background: #ffffff;
          opacity: .5; }
        #menu ul li a:before {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          height: 3px;
          width: 0;
          background: #F7CF00;
          -webkit-transition: width .25s;
          -moz-transition: width .25s;
          -ms-transition: width .25s;
          -o-transition: width .25s;
          transition: width .25s; }
      #menu ul li .last > a:after, #menu ul li:last-child > a:after {
        display: none; }
      #menu ul li .active a {
        color: #F7CF00; }
        #menu ul li .active a:before {
          width: 100%; }
  #menu .align-right ul {
    text-align: center; }
    #menu .align-right ul li {
      float: right; }

#menu.align-right li.last > a:after,
#menu.align-right li:last-child > a:after {
  display: block; }

#menu.align-right li:first-child a:after {
  display: none; }

/*LOGIN PAGE*/
#frontpage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center; }

/*PROFILE PAGE*/
#profile-page #top, #profile-page #bottom, #profile-page #left, #profile-page #right {
  background: black;
  position: fixed; }
#profile-page #left, #profile-page #right {
  top: 0;
  bottom: 0;
  width: 15px; }
#profile-page #left {
  left: 0; }
#profile-page #right {
  right: 0; }
#profile-page #top, #profile-page #bottom {
  left: 0;
  right: 0;
  height: 15px; }
#profile-page #top {
  top: 0; }
#profile-page #bottom {
  bottom: 0; }

#header-profile h1 {
  padding: 5px 0 5px 150px;
  font-size: 30pt; }

#volunteer-info {
  padding-bottom: 500px; }

.profileBox {
  padding: 0 50px 0 50px; }
  .profileBox .profileInformation {
    width: 100%;
    float: left;
    padding: 0px 10px 0px 10px;
    margin: 25px;
    margin-top: 0px; }
    .profileBox .profileInformation .subInfo {
      padding-left: 30px;
      padding-bottom: 30px;
      width: 50%; }
      .profileBox .profileInformation .subInfo .imported {
        display: inline-block;
        vertical-align: bottom;
        text-decoration: bold;
        color: #590085; }
    .profileBox .profileInformation .imageStack {
      float: right;
      padding-right: 50px; }
      .profileBox .profileInformation .imageStack img {
        vertical-align: top;
        height: 200px;
        display: block; }
      .profileBox .profileInformation .imageStack button {
        padding: 10px 100px 10px 100px;
        background-color: #590085;
        border: none;
        color: white;
        font-size: 20px;
        text-decoration: none;
        float: right;
        border-radius: 25px; }
        .profileBox .profileInformation .imageStack button:hover {
          color: black;
          background-color: #FF008B; }
    .profileBox .profileInformation .secondColumn {
      width: 200 px; }
    .profileBox .profileInformation h3 {
      display: inline;
      padding-bottom: 10px; }
    .profileBox .profileInformation a {
      padding-bottom: 10px; }

/* Dashboard & Tracking */
#dashboard {
  padding-left: 200px;
  width: 100%; }
  #dashboard .data {
    background-color: #F7CF00;
    color: #FF008B;
    display: inline; }
    #dashboard .data img {
      height: 200px;
      width: 300px; }
  #dashboard .tracking {
    border-style: solid;
    display: inline;
    padding-left: 500px; }

/*CHECKIN & CHECKOUT*/
.volunteer-checkbox {
  display: inline;
  list-style: none;
  border: 2px solid;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px; }

@media screen and (max-width: 768px) {
  #menu ul li {
    float: none;
    display: block; }
    #menu ul li a {
      width: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-bottom: 1px solid #fb998c; }
      #menu ul li a:after {
        display: none; }
      #menu ul li a:before {
        display: none; }
    #menu ul li .last > a, #menu ul li:last-child > a {
      border: 0; } }

/*# sourceMappingURL=style.css.map */
