.container
    .jumbotron
        h1 ABVP-App Initial
        p I've set up the bootstrap with the harp so we can do things now
        p
            a.btn.btn-primary.btn-lg(href="#{baseUrl}/docs") View the documentation that I used to install this